@import url(./vendor/normalize.css);


:root {
  font-family: "Open Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FD8A8A;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: 500;
  color: #FD8A8A;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}



